In [ ]:
# Crawling weather data;

In [2]:
# import libraries
import pandas as pd
import numpy as np
import requests
import re
from bs4 import BeautifulSoup

In [19]:
# define crawling function
def crawl(stn, mm, x, y, prefix='https://www.weather.go.kr/weather/climate/past_cal.jsp?'):
    """
    :param stn:int - station number
    :param mm:int(1-12) - month
    :param x&y:int - unique id for each station number
    :return:pd.dataframe - average, highest, lowest temp and precipitation for month
    """
    website = requests.get(prefix+'stn='+str(stn)+'&yy=2019&mm='+str(mm)+'&'+str(x)+'&'+str(y)+'&'+'obs=1')
    whole = website.content
    one = BeautifulSoup(whole, 'html.parser')
    part = one.find_all('td')

    content = []

    for child in part:
        stats = child.get_text('|')
        content.append(stats.split('|'))

    content_real = []
    for a in content:
        if len(a) > 1:
            content_real.append(a)

    aver = []
    high = []
    low = []
    rain = []

    for child in content_real:
        a = child[0].replace('℃',':')
        a = a.split(':')
        aver.append(a[1])
    
        b = child[1].replace('℃',':')
        b = b.split(':')
        high.append(b[1])
        
        c = child[2].replace('℃',':')
        c = c.split(':')
        low.append(c[1])
        
        if child[4]==' - ':
            pass
        else:
            d = child[4].replace('mm',':')
            d = d.split(':')
            rain.append(d[1])

    final = pd.DataFrame({'aver':aver, 'high':high, 'low':low, 'rain':rain})
    final.index = final.index + 1
    return final

In [20]:
crawl(stn=99, mm=8, x = 25, y = 14)

    aver  high   low  rain
1   25.1  28.3  21.6  62.7
2   27.3  32.7  23.3    -
3   26.5  33.7  22.6    -
4   27.3  33.4  21.5    -
5   28.8  34.3  24.2    -
6   29.2  34.0  24.7    -
7   25.0  28.0  22.7   0.4
8   26.7  31.3  23.1    -
9   27.3  32.7  23.1   0.0
10  28.4  34.4  23.7   3.1
11  28.4  34.7  22.5   3.4
12  25.9  29.1  23.2  59.1
13  26.6  31.6  23.3   6.8
14  27.8  33.5  23.6   0.0
15  24.4  27.5  21.2   8.6
16  25.2  29.8  21.0   1.7
17  24.6  28.7  20.0    -
18  23.5  29.1  18.9   0.0
19  23.7  29.6  18.8    -
20  25.1  30.6  19.9    -
21  24.1  29.4  21.3   0.3
22  24.6  30.1  21.3    -
23  22.8  28.5  18.2    -
24  21.6  27.6  16.8    -
25  22.3  28.7  17.4    -
26  23.1  29.6  18.0    -
27  24.0  27.9  21.2   0.4
28  24.1  29.1  20.3    -
29  22.9  26.3  17.8  15.4
30  20.7  26.1  15.6   0.0
31  21.2  27.7  15.5    -